.log-clear-btn{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("images/trash.png");
    -fx-background-size: 35px 35px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}

.log-clear-btn:hover{
    -fx-background-color: null;
    -fx-background-image:url("images/trash-h.png");
    -fx-background-repeat:no-repeat;
}

